.imagen-centrada {
    /* Convierte la imagen en un elemento de bloque para que pueda tener margen */
    display: block;
    margin: 30px auto;
    border: 4px solid rgba(240, 248, 255, 0.635);
    border-radius: 15px;
    max-width: 90%; /* Nunca será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción original */
}

* {
  box-sizing: border-box; /* Incluye padding y border dentro del ancho y alto total del elemento */
  margin: 0; /* Elimina todos los márgenes externos */
  padding: 0; /* Elimina todos los rellenos internos */
} 

body {
    background-color: black;
    display: flex; /* Activa Flexbox para los hijos directos (header, nav, main, footer) */
    flex-direction: column; /* Los elementos (header, main, footer) van uno debajo del otro */
    align-items: center; /* Centra horizontalmente los elementos principales de la página */
} 

main {
    width: 90%; /* Ocupará el 90% del ancho del navegador */
    max-width: 1200px; /* No crece más allá de 1200px en pantallas grandes */
    display: grid; /* Activa CSS Grid para crear el diseño principal de dos columnas */
    grid-template-columns: 250px 850px 1fr; /* 250px para la barra lateral, el resto para el contenido */
    margin: 0 6% 0 0;
}

.navInterna {
    background-color: rgba(81, 68, 68, 0.525);
    border: 3px solid rgba(240, 248, 255, 0.635);
    border-radius: 10px;
    padding: 20px 15px;
    margin: 60% 0 0 0;
    position: sticky;
    top: 90px; /* Queda fija cuando haces scroll */
    height: fit-content;
    width: 100%;
}

.navInterna li {
    margin: 10px auto;
}

.navInterna a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navInterna ul {
    color: red;
}

.navInterna a:hover {
    color: rgb(17, 159, 20);
}

.contenido {
    grid-column: 2 / 3; /* Ocupará la segunda columna de la cuadrícula */
    /* Asegura que el contenido (las sections) dentro de este div se centre */
    display: flex; /* Activa Flexbox para ordenar las secciones internas verticalmente*/
    flex-direction: column;
    align-items: center; /* Centra horizontalmente las secciones dentro de su columna Grid */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%; /* Ocupará el 95% del ancho del navegador */
    max-width: 1400px; /* No crece más allá de 1200px en pantallas grandes */
}

header img {
    height: 380px;
    width: auto;
}

.contenedorLogo {
    margin: 20px 0 0 8%;
    transition: transform 0.5s ease; /* La propiedad transform será animada*/
}

.contenedorLogo:hover {
    transform: scale(1.2); 
}

#inicio {
    text-align: center;
    font-weight: bold;
    font-size: 25px; 
    font-family: 'Roboto', sans-serif;
    color: red;
    margin: -5% 0 0 0;
}

#descripcion {
    color: rgba(240, 248, 255, 0.635);
    font-size: 20px; 
}

nav {
    background-color: #195206;
    text-align:center;
    margin: 0;
    padding: 28px 0;
    position: sticky; /*Mantiene fija la barra de navegación*/
    top: 0; /*Cuando el borde superior esté a 0 píxeles de distancia 
    del borde superior de la ventana de visualización se comporta como fixed*/
    width: 100%;
}

nav a {
    padding: 28px 30px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    cursor: pointer;
    background-color: rgb(17, 159, 20);
    transition: all 0.7s ease;
}

a:visited {
    color: rgb(39, 217, 60);
}

section {
    background-color: rgba(81, 68, 68, 0.525);
    border-radius: 15px;
    border: 4px solid #195206;
    margin: 20px 0 10px 0; 
    width: 95%; /* Se ajustan al contenedor */
}

h2 {
    font-size: 28px;
    color: red;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px; 
    margin: 13px 0 0 18px;
}

p, ul {
    color: rgba(240, 248, 255, 0.635);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
    letter-spacing: 0.3px;
}

ul li {
    margin: 0 0 0 40px;
}

.contacto {
    font-size: 16px;
}

footer {
    background-color: #195206;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}

/* TODO LO ANTERIOR es lo principalmente usado para la página principal(home)*/

/*Algunos estilos para las otras páginas*/
header div {
    color: rgba(240, 248, 255, 0.635);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    text-align: center;
    width: 95%; /* Ocupará el 95% del ancho del navegador */
    max-width: 1200px; /* No crece más allá de 1200px en pantallas grandes */
}

.titulos {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 70px; 
    color: red;
    background-color: rgba(81, 68, 68, 0.525);
    border-radius: 15px;
    border: 2px;
    margin: 15px auto;
    padding: 20px 0;
    width: 98%; /* Ocupará el 95% del ancho del navegador */
    max-width: 1400px; /* No crece más allá de 1200px en pantallas grandes */
}

h3 {
    color: rgba(240, 248, 255, 0.635);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 18px;
    letter-spacing: 0.3px; 
}

/* Estilo para collage de imágenes */
#galeriaCampañas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.map-item img {
    width: 100%;
    height: 100%;
}

.map-item {
    margin: 20px 0 0 8%;
    transition: transform 0.3s ease; /* La propiedad transform será animada*/
}

.map-item:hover {
    transform: scale(1.1); 
}

/* Estilos para formulario */ 
form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos del formulario */
    background: rgba(255, 255, 255, 0.5); /*capa translúcida */
    backdrop-filter: blur(100px);          /*aplica el difuminado */
    padding: 2rem 3rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 7px 30px rgba(0,0,0,0.9); /*Sombreado de form*/
}

.compForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 500px; /*Ancho del form*/
}

.compForm label, Form h2 {
    color: #690505;
    font-weight: bold;
}

input, textarea, select {
    border: black solid 0px ;
    border-radius: 10px;
    padding: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: solid 0px;
    border-radius: 10px;
    transition: 0.3s;
}

textarea {
    resize: none;
}

.btn:hover {
    background-color: #888484;
}

/* Estilos para secciones con flexBox*/
#flexBox {
    display: flex;
    flex-direction: column; /* Los elementos (header, main, footer) van uno debajo del otro */

}